# WEB SCRAPING – ASSIGNMENT 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

In [2]:
driver=driver = webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe')
driver

In [3]:
rank = []
name = []
artist = []
date = []
views = []
data = []

In [6]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(3)

In [7]:
# scraping the rank
for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]'):
    rank.append(i.text)

# scraping the name of the album
for j in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]'):
    name.append(j.text)

# scraping the artist name
for k in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]'):
    artist.append(k.text)
    
# scraping views
for l in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]'):
    views.append(l.text)
    
# scraping the date
for m in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]'):
    date.append(m.text)

In [8]:
youtube = pd.DataFrame({'Rank': rank,
                       'Album Name': name,
                       'Artist': artist,
                       'Views (in Billion)': views,
                       'Upload Date': date})
youtube

,Rank,Album Name,Artist,Views (in Billion),Upload Date
0,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"9,453,134,982","June 17, 2016"
1,2,"""Despacito""[25]",Luis Fonsi,"7,572,747,360","January 12, 2017"
2,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"5,781,348,353","October 8, 2016"
3,4,"""Shape of You""[27]",Ed Sheeran,"5,483,427,541","January 30, 2017"
4,5,"""See You Again""[28]",Wiz Khalifa,"5,284,905,560","April 6, 2015"
5,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"4,549,294,432","May 2, 2018"
6,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"4,513,879,675 (as of Sep 29, 2021)","February 27, 2018"
7,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"4,461,096,975","January 31, 2012"
8,9,"""Uptown Funk""[34]",Mark Ronson,"4,319,159,452","November 19, 2014"
9,10,"""Phonics Song with Two Words""[35]",ChuChu TV,"4,220,180,419","March 6, 2014"
10,11,"""Gangnam Style""[36]",Psy,"4,211,421,413","July 15, 2012"
11,12,"""Dame Tu Cosita""[38]",El Chombo,"3,633,337,215","April 5, 2018"
12,13,"""Sugar""[39]",Maroon 5,"3,565,906,701","January 14, 2015"
13,14,"""Sorry""[40]",Justin Bieber,"3,474,094,697","October 22, 2015"
14,15,"""Roar""[41]",Katy Perry,"3,444,786,615","September 5, 2013"
15,16,"""Counting Stars""[42]",OneRepublic,"3,412,577,920","May 31, 2013"
16,17,"""Thinking Out Loud""[43]",Ed Sheeran,"3,337,279,340","October 7, 2014"
17,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"3,291,808,512","May 24, 2018"
18,19,"""Dark Horse""[45]",Katy Perry,"3,155,611,442","February 20, 2014"
19,20,"""Faded""[46]",Alan Walker,"3,155,489,927","December 3, 2015"
20,21,"""Girls Like You""[47]",Maroon 5,"3,143,116,042","May 31, 2018"
21,22,"""Lean On""[48]",Major Lazer,"3,105,926,931","March 22, 2015"
22,23,"""Bailando""[49]",Enrique Iglesias,"3,105,539,316","April 11, 2014"
23,24,"""Shake It Off""[50]",Taylor Swift,"3,104,230,107","August 18, 2014"
24,25,"""Let Her Go""[51]",Passenger,"3,090,217,295","July 25, 2012"
25,26,"""Axel F""[52]",Crazy Frog,"3,035,828,739","June 17, 2009"
26,27,"""Mi Gente""[53]",J Balvin,"2,986,493,839","June 29, 2017"
27,28,"""Perfect""[54]",Ed Sheeran,"2,974,982,274","November 9, 2017"
28,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,"2,962,613,841","June 4, 2010"
29,30,"""Hello""[56]",Adele,"2,889,107,727","October 23, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.

In [9]:
url=('https://www.bcci.tv/')
driver.get(url)
time.sleep(3)

In [10]:
Match_title = []
Series = []
Place = []
Date = []
Time=[]

In [11]:
international = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
international.click()
time.sleep(2)

In [12]:
fixture = driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").get_attribute('href')
driver.get(fixture)
time.sleep(2)

In [13]:
# Fetching Match_title details


title=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[1]/span[2]")
for i in title:
    try:
        Match_title.append(i.text)
    except:
        Match_title.append("-")
        time.sleep(1)
        
        
# Fetching Series details

name_series=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in name_series:
    try:
        Series.append(i.text)
    except:
        Series.append("-")
        time.sleep(1)
        
# Fetching Place details

        
place_name=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place_name:
    try:
        Place.append(i.text)
    except:
        Place.append("-")
        time.sleep(1)
        
        
  # Fetching Date_time details
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for i in time:
    Time.append(i.text)

In [14]:
#creating Data Frame
India_international_fixtures=pd.DataFrame([])
India_international_fixtures["Match_Title"]=Match_title
India_international_fixtures["Series"]=Series
India_international_fixtures["Place"]=Place
India_international_fixtures["Date"]=Date
India_international_fixtures["Time"]=Time

In [15]:
India_international_fixtures

,Match_Title,Series,Place,Date,Time
0,2021 ICC MEN'S T20 WORLD CUP,Match 16,"Dubai International Stadium, Dubai",24OCTOBER,19:30 IST
1,2021 ICC MEN'S T20 WORLD CUP,Match 28,"Dubai International Stadium, Dubai",31OCTOBER,19:30 IST
2,2021 ICC MEN'S T20 WORLD CUP,Match 33,"Zayed Cricket Stadium, Abu Dhabi",03NOVEMBER,19:30 IST
3,2021 ICC MEN'S T20 WORLD CUP,Match 37,"Dubai International Stadium, Dubai",05NOVEMBER,19:30 IST
4,2021 ICC MEN'S T20 WORLD CUP,Match 42,"Dubai International Stadium, Dubai",08NOVEMBER,19:30 IST
5,INDIA V NEW ZEALAND 2021,1st T20I,"Sawai Mansingh Stadium, Jaipur",17NOVEMBER,19:00 IST
6,INDIA V NEW ZEALAND 2021,2nd T20I,"JSCA International Stadium Complex, Ranchi",19NOVEMBER,19:00 IST
7,INDIA V NEW ZEALAND 2021,3rd T20I,"Eden Gardens, Kolkata",21NOVEMBER,19:00 IST
8,INDIA V NEW ZEALAND 2021,1st Test,"Green Park, Kanpur",25NOVEMBER,09:30 IST
9,INDIA V NEW ZEALAND 2021,2nd Test,"Wankhede Stadium, Mumbai",03DECEMBER,09:30 IST
10,SOUTH AFRICA V INDIA 2021/2022,1st Test,"New Wanderers Stadium, Johannesburg",17DECEMBER,13:30 IST
11,SOUTH AFRICA V INDIA 2021/2022,2nd Test,"Supersport Park, Centurion",26DECEMBER,13:30 IST
12,SOUTH AFRICA V INDIA 2021/2022,3rd Test,"New Wanderers Stadium, Johannesburg",03JANUARY,13:30 IST
13,SOUTH AFRICA V INDIA 2021/2022,1st ODI,"Boland Park, Paarl",11JANUARY,14:00 IST
14,SOUTH AFRICA V INDIA 2021/2022,2nd ODI,"Newlands, Cape Town",14JANUARY,14:00 IST
15,SOUTH AFRICA V INDIA 2021/2022,3rd ODI,"Newlands, Cape Town",16JANUARY,14:00 IST
16,SOUTH AFRICA V INDIA 2021/2022,1st T20I,"Newlands, Cape Town",19JANUARY,19:30 IST
17,SOUTH AFRICA V INDIA 2021/2022,2nd T20I,"Newlands, Cape Town",21JANUARY,19:30 IST
18,SOUTH AFRICA V INDIA 2021/2022,3rd T20I,"Boland Park, Paarl",23JANUARY,19:30 IST
19,SOUTH AFRICA V INDIA 2021/2022,4th T20I,"Boland Park, Paarl",26JANUARY,19:30 IST

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

In [51]:
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re
from selenium.common.exceptions import  StaleElementReferenceException,ElementClickInterceptedException,ElementNotInteractableException   
from selenium.common.exceptions import  NoSuchElementException,NoSuchWindowException,InvalidSessionIdException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [37]:
driver.get('https://www.guru99.com')

In [40]:
search_bar2=driver.find_element_by_xpath("//input[@class='gsc-input']")

In [41]:
try:
    search_bar2.send_keys("Selenium Exception Handling")
except ElementNotInteractableException as e:
    search_bar2.send_keys("Selenium Exception Handling")

In [42]:
try:
    search_btn=driver.find_element_by_xpath("//td[@class='gsc-search-button']")
except NoSuchElementException as e:
    search_btn=driver.find_element_by_xpath("//td[@class='gsc-search-button']")

In [43]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [44]:
try:
    search_btn1=driver.find_element_by_xpath("//a[@data-ctorig='https://www.guru99.com/exception-handling-selenium.html']")
except NoSuchElementException as e:
    search_btn1=driver.find_element_by_xpath("//a[@data-ctorig='https://www.guru99.com/exception-handling-selenium.html']")

In [45]:
exception_names=[]
try:
    next_link=search_btn1.get_attribute("href")
    search_btn1.click()
    driver.get(next_link)
    driver.get(driver.current_url)
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
    for a in search_exception_details:
        exception_names.append(a.text)
        
except StaleElementReferenceException as e:
    next_link=search_btn1.get_attribute("href")
    search_btn1.click()
    driver.get(next_link)
    driver.get(driver.current_url)
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
    for a in search_exception_details:
        exception_names.append(a.text)


exception_names

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [53]:
exception_=[]
try:
    
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for a in search_exception_details:
        exception_.append(a.text)
        
except StaleElementReferenceException as e:
    
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for a in search_exception_details:
        exception_.append(a.text)


exception_

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [56]:
Nos=[]
for i in range(1,len(exception_names)+1):
    Nos.append(i)
selenium_exception=pd.DataFrame({})
selenium_exception['Nos']=Nos
selenium_exception['Exception name']=exception_names    
selenium_exception['Description']=exception_
selenium_exception.style.hide_index()

4. Scrape the details of State-wise GDP of India from statisticstime.com

In [57]:
driver.get('http://statisticstimes.com/')

In [58]:
a = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
driver.get(a.get_attribute('href'))

In [59]:
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [60]:
rank = []
state = []
gsdp_1920 = []
gsdp_1819 = []
share = []
gdp = []

# scraping rank
for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]'):
    rank.append(i.text)

#scraping state
for j in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]'):
    state.append(j.text)

# scraping GSDP 19-20
for k in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]'):
    gsdp_1920.append(k.text)
    
# scraping GSDP 18-19
for l in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]'):
    gsdp_1819.append(l.text)
    
# scraping share
for m in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]'):
    share.append(m.text)
    
# scraping GDP
for n in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]'):
    gdp.append(n.text)

In [61]:
stats = pd.DataFrame({})
stats['Rank'] = rank
stats['State'] = state
stats['GSDP at current price(19-20)'] = gsdp_1920
stats['GSDP at current price(18-19)'] = gsdp_1819
stats['Share'] = share
stats['GDP'] = gdp
stats

,Rank,State,GSDP at current price(19-20),GSDP at current price(18-19),Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5.Scrape the details of trending repositories on Github.com

In [3]:
url='https://github.com/'
driver.get(url)

In [4]:
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a").click()

In [5]:
Repository_title=[]
try: 
    for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
        Repository_title.append(i.text)
except NoSuchElementException as e:
    Repository_title.append("-")

In [6]:
Repository_des=[]
try: 
    for i in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
        Repository_des.append(i.text)
except NoSuchElementException as e:
    Repository_des.append("-")

In [7]:
Contributors_count=[]
try: 
    for i in driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]"):
        Contributors_count.append(i.text)
except NoSuchElementException as e:
    Contributors_count.append("-")

In [8]:
Language_used=[]
try:
    for i in driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']"):
        Language_used.append(i.text)
except NoSuchElementException as e:
    Language_used.append("-")

In [9]:
df = pd.DataFrame({"Repository title":Repository_title[0:20],"Repository description":Repository_des[0:20],
                       "Contributors count": Contributors_count[0:20],"Language used": Language_used[0:20]})
df

,Repository title,Repository description,Contributors count,Language used
0,peng-zhihui / Peak,Tiny Mobile Terminal Device Kit.,81,C
1,Chakazul / Lenia,Lenia - Mathematical Life Forms,122,Python
2,QianMo / Real-Time-Rendering-4th-Bibliography-...,Real-Time Rendering 4th (RTR4) 参考文献合集典藏 | Coll...,106,HTML
3,bitcoin / bitcoin,Bitcoin Core integration/staging tree,"30,153",C++
4,fatedier / frp,A fast reverse proxy to help you expose a loca...,"9,076",Go
5,PaddlePaddle / PaddleOCR,Awesome multilingual OCR toolkits based on Pad...,"3,373",Python
6,peng-zhihui / Dummy-Robot,我的超迷你机械臂机器人项目。,427,Python
7,localstack / localstack,💻 A fully functional local AWS cloud stack. De...,"2,701",Batchfile
8,AveYo / MediaCreationTool.bat,Universal MCT wrapper script for all Windows 1...,98,Java
9,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,"38,312",Python
10,xinntao / Real-ESRGAN,Real-ESRGAN aims at developing Practical Algor...,390,Go
11,milvus-io / milvus,An open-source vector database for embedding s...,"1,120",C++
12,ossrs / srs,"SRS is a simple, high efficiency and realtime ...","4,099",Java
13,practical-tutorials / project-based-learning,Curated list of project-based tutorials,"8,804",Go
14,CyC2018 / CS-Notes,📚 技术面试必备基础知识、Leetcode、计算机操作系统、计算机网络、系统设计,"44,766",JavaScript
15,golang / go,The Go programming language,"13,409",Java
16,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,"1,787",C++
17,alibaba / Sentinel,A powerful flow control component enabling rel...,"6,131",PowerShell
18,taichi-dev / taichi,Parallel programming for everyone.,"1,664",Lua
19,tihanyin / PSSW100AVB,A list of useful Powershell scripts with 100% ...,35,C++

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/

In [10]:
url='https://www.billboard.com/'
driver.get(url)

In [11]:
driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a").click()

In [12]:
Song_Name=[]
Artist_Name=[] 
Last_Week_Rank=[] 
Peak_Rank=[]
Weeks_on_Board=[]

In [13]:
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    Song_Name.append(i.text)
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    Artist_Name.append(i.text)
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lastweek:
    Last_Week_Rank.append(i.text)
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    Peak_Rank.append(i.text)
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in weeks:
    Weeks_on_Board.append(i.text)

In [14]:
TOP_100_SONGS=pd.DataFrame({})
TOP_100_SONGS['Song_name']=Song_Name
TOP_100_SONGS['Artist_name']=Artist_Name
TOP_100_SONGS['Last_week_rank']=Last_Week_Rank
TOP_100_SONGS['Peak_rank']=Peak_Rank
TOP_100_SONGS['Weeks_on_board']= Weeks_on_Board
TOP_100_SONGS

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Stay,The Kid LAROI & Justin Bieber,2,1,13
1,Industry Baby,Lil Nas X & Jack Harlow,3,2,11
2,Fancy Like,Walker Hayes,5,3,16
3,Way 2 Sexy,Drake Featuring Future & Young Thug,4,1,5
4,Bad Habits,Ed Sheeran,6,2,15
...,...,...,...,...,...
95,Esta Danada,Ivan Cornejo,-,96,1
96,Whiskey And Rain,Michael Ray,-,97,1
97,TSU,Drake,84,9,5
98,Love All,Drake Featuring JAY-Z,87,10,5
99,No Where,YoungBoy Never Broke Again,40,40,2

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

In [15]:
url='https://www.naukri.com/'
driver.get(url)

In [16]:
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

In [17]:
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [18]:
Name=[]
Designation=[] 
Company=[] 
Skills_they_hire_for=[] 
Location=[]

In [19]:
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)
designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills_they_hire_for.append(i.text)
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in loc:
    try:
        Location.append(i.text)
    except NoSuchElementException:        
        Location.append("---")

In [20]:
Data_Science=pd.DataFrame({})
Data_Science['Name']=Name[0:48]
Data_Science['Designation']=Designation[0:48]
Data_Science['Company']=Company[0:48]
Data_Science['Skills they Hire for']= Skills_they_hire_for[0:48]
Data_Science['Location']=Location[0:48]
Data_Science

,Name,Designation,Company,Skills they Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [24]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [26]:
name=[]
book=driver.find_elements_by_xpath('//tr/td[2]')
for i in book:
    try:
        name.append(i.text)
    except:
        name.append('-')

In [27]:
author=[]
a_name=driver.find_elements_by_xpath('//tr/td[3]')
for i in a_name:
    try:
        author.append(i.text)
    except:
        author.append('-')

In [28]:
volumes=[]
v_sold=driver.find_elements_by_xpath('//tr/td[4]')
for i in v_sold:
    try:
        volumes.append(i.text)
    except:
        volumes.append('-')

In [29]:
publisher=[]
publish=driver.find_elements_by_xpath('//tr/td[5]')
for i in publish:
    try:
        publisher.append(i.text)
    except:
        publisher.append('-')

In [30]:
genre=[]
gen=driver.find_elements_by_xpath('//tr/td[6]')
for i in gen:
    try:
        genre.append(i.text)
    except:
        genre.append('-')

In [31]:
Novels = pd.DataFrame({})
Novels['Book Name'] = name
Novels['Author'] = author
Novels['Volumes Sold'] = volumes
Novels['Publisher'] = publisher
Novels['Genre'] = genre
Novels

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/

In [32]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [33]:
names=[]
name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    try:
        names.append(i.text)
    except:
        names.append('-')

In [34]:
year=[]
year_span = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span')
for i in year_span:
    try:
        year.append(i.text)
    except:
        year.append('-')

In [35]:
years=[]
for i in range(1,len(year),2):
    years.append(year[i])

In [36]:
rating=[]
rate = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for i in rate:
    try:
        rating.append(i.text)
    except:
        rating.append('-')

In [37]:
genre=[]
gen=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]')
for i in gen:
    try:
        genre.append(i.text)
    except:
        genre.append('-')

In [38]:
time=[]
run_time=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[3]')
for i in run_time:
    try:
        time.append(i.text)
    except:
        time.append('-')

In [39]:
votes=[]
vote = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[2]')
for i in vote:
    try:
        votes.append(i.text)
    except:
        votes.append('-')

In [40]:
votes_count=[]
for i in range(1,len(votes),2):
    votes_count.append(votes[i])

In [41]:
IMDB = pd.DataFrame({})
IMDB['Name'] = names
IMDB['Year Span'] = years
IMDB['Genre'] = genre
IMDB['Run Time'] = time
IMDB['Ratings'] = rating
IMDB['Votes'] = votes_count
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,883,287"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"916,580"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"904,869"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"271,011"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,384"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,916"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,791"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,460"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,913"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"204,112"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/

In [42]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [44]:
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

In [45]:
Dataset_Name=[] 
Data_Type=[]
Task=[] 
Attribute_Type=[] 
No_of_Instances=[] 
No_of_Attribute=[] 
Year=[]

In [46]:
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Dataset_Name.append(i.text)
names = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in names:
    Dataset_Name.append(i.text)
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)
att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in att:
    Attribute_Type.append(i.text)
ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in ins:
    No_of_Instances.append(i.text)
no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in no_of_att:
    No_of_Attribute.append(i.text)
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)
datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in tsk:
    Task.append(i.text)
attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in attr:
    Attribute_Type.append(i.text)
noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in noi:
    No_of_Instances.append(i.text)
noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in noa:
    No_of_Attribute.append(i.text)
yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in yr:
    Year.append(i.text)

In [47]:
UCI_ML=pd.DataFrame({})
UCI_ML['Dataset Name']=Dataset_Name 
UCI_ML['Data Type']=Data_Type
UCI_ML['Task']=Task
UCI_ML['Attribute Type']=Attribute_Type
UCI_ML['No of Instances']=No_of_Instances
UCI_ML['No of Attribute']= No_of_Attribute
UCI_ML['Year']=Year
UCI_ML

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
290,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
291,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
292,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
293,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
294,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021